.advantages__title {
  padding: 0;
  margin: 0;

  .f-oswald(36px; 60px);
  color: #111111;
  font-weight: normal;
}

.advantages__list {
  .list-reset();
  list-style: none;
}

.advantages__item {
  padding-left: 80px;
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 324px;
    min-height: 230px;
    margin-right: 30px;
    margin-bottom: 90px;
  }

  .advantages__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 245px;
    min-height: 230px;
    margin-right: 80px;
    margin-bottom: 10px;
  }

  .advantages__item:nth-child(4n) {
    margin-right: 0;
  }
}
