.button {
  display: block;
  max-height: 40px;
  width: 280px;
  padding: 10px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #ffffff;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;

  background-color: #68b738;
  border: 0;
}

.button--all {
  background-color: #f2f2f2;
  color: #444444;
}
