.button {
  display: block;
  max-height: 40px;
  width: 280px;
  padding: 10px;

  .f-oswald (14px, 18px);
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  background-color: #68b738;
  border: 0;
}

.button--all {
  background-color: #f2f2f2;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .button--extra {
    width: 633px;
  }
}

@media (min-width: @desktop-width) {
  .button {
    width: 169px;
  }
}
