.сard-product__wrapper {
  display: flex;
}

.сard-product__title {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  color: #111111;
}

.сard-product__desc,
.сard-product__value {
  font-size: 12px;
  line-height: 16px;
}
