.contacts {
  position: relative;
  overflow: hidden;

  background-color: #f2f2f2;
}

.contacts--inner {
  background: linear-gradient(180deg, #ffffff 40%, #f2f2f2 60%);
}

.contacts__slogan,
.contacts__address {
  width: 140px;
  margin: 0;
  padding: 0;
}

.contacts__address-street,
.contacts__address-city {
  margin: 0;
  padding: 0;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  padding-top: 28px;
}

.contacts__slogan {
  .f-oswald(16px; 20px);
  font-weight: normal;
  text-transform: uppercase;
  color: #111111;
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
}

.contacts__link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;

  width: 320px;
  height: 361px;
  margin: 0 auto;
  overflow: hidden;
}

.contacts iframe {
  width: 100vw;
  height: 362px;
}

.contacts__map {
  position: relative;
  top: -39px;
  margin: 0 auto;

  background-color: #f2f2f2;
}

.contacts__link::before {
  position: absolute;
  content: "";
  top: 139px;
  left: 129px;
  z-index: 2;

  width: 62px;
  height: 53px;

  background-image: url("/../../img/map-pin.png");
  background-size: 62px 53px;
}

@media (min-width: @tablet-width) {
  .contacts {
    padding-top: 38px;
  }

  .contacts__wrapper {
    width: 625px;
    margin-bottom: 58px;
    padding-top: 26px;
  }

  .contacts--inner {
    background-color: #f2f2f2;
  }

  .contacts__link {
    min-width: 768px;

    background-color: #f2f2f2;
  }

  .contacts__link::before {
    top: 148px;
    left: 323px;

    width: 122px;
    height: 106px;

    background-size: 122px 106px;
  }

  .contacts__map {
    width: 768px;
    height: auto;
    margin-top: 37px;

    background-color: #f2f2f2;
  }

  .contacts__slogan,
  .contacts__address {
    width: 160px;
  }

  .contacts__slogan {
    .f-oswald(20px; 25px);
  }

  .contacts__address {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  .contacts__address-street {
    margin-bottom: 18px;
  }

  .contacts iframe {
    height: 396px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    height: 400px;
    padding-top: 0;
  }

  .contacts--inner {
    margin-top: -143px;
  }

  .contacts__wrapper-fix {
    position: relative;
    width: 1300px;
    margin: 0 auto;
  }

  .contacts__wrapper {
    position: absolute;
    top: 95px;
    left: 41px;
    z-index: 10;

    width: 570px;
    min-height: 201px;
    padding-top: 28px;

    background-color: white;
  }

  .contacts__slogan {
    margin-top: 37px;
    margin-left: 75px;
  }

  .contacts__address {
    margin-top: 35px;
    margin-right: 83px;

    text-align: left;
  }

  .contacts__link {
    position: absolute;
    flex-shrink: 0;
    width: 1300px;
    overflow: hidden;
    height: 400px;
    text-align: center;
    margin: 0 auto;
  }

  .contacts__link::before {
    top: 151px;
    left: 930px;

    width: 122px;
    height: 106px;

    background-size: 122px 106px;
  }

  .contacts__map {
    /*width: 1440px;*/
    height: 400px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}
