.example {
  background-color: #f2f2f2;
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: #111111;
}

.example__value {
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: #111111;
  text-transform: uppercase;
}

.example__desc {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  width: 87px;
}

.example__price {
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #111111;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .example__wrapper--table {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .example__wrapper--table {
    display: flex;
    flex-direction: column;
  }

  .example__wrapper {
    display: flex;
  }

  .example__price {
    text-align: start;
  }
}
