.extra-product__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: #222222;
}

.extra-product__desc,
.extra-product__value {
  line-height: 14px;
}
