.extra {
  padding-top: 28px;
  overflow: hidden;
}

.extra__title {
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 0;

  .f-oswald(24px; 24px);
  font-weight: normal;
  color: #111111;
}

.extra__caption {
  position: relative;
  min-width: 223px;
  padding-right: 24px;

  background-color: #ffffff;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    z-index: -2;

    width: 100vw;
    height: 3px;

    background-color: #68b738;
  }
}

.extra__list {
  list-style: none;
  .list-reset();
  margin-bottom: 41px;
}

.extra__item {
  min-height: 128px;

  border-top: @border;
}

.extra__item:last-child {
  border-bottom: @border;
}

@media (min-width: @tablet-width) {
  .extra--top {
    margin-top: -101px;
  }

  .extra__list {
    margin-bottom: 70px;
  }

  .extra__title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 81px;

    font-size: 36px;
    line-height: 36px;
  }

  .extra__caption {
    position: relative;

    min-width: 338px;
    margin-left: -37px;
    padding-right: 37px;
    padding-left: 37px;

    background-color: #ffffff;

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      transform: translateY(-50%);
      z-index: -2;

      width: 100vw;
      height: 3px;

      background-color: #68b738;
    }

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: -2;

      width: 100vw;
      height: 3px;

      background-color: #68b738;
    }
  }

  .extra__item {
    width: 708px;
    min-height: 139px;
    padding-top: 17px;
    padding-right: 35px;
    padding-left: 35px;

    border: @border;
    border-bottom: none;
  }

  .extra__item:last-child {
    border-bottom: @border;
  }
}

@media (min-width: @desktop-width) {
  .extra--top {
    margin-top: -96px;
  }

  .extra__title {
    padding-left: 0;
  }

  .extra__item {
    display: flex;
    width: 900px;
    min-height: 72px;

    border-right: none;
    border-left: none;
  }

  .extra__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
