.footer-links {
  background-color: #f2f2f2;
}

.footer-links__wrapper {
  display: flex;
  flex-direction: column;
}


@media (min-width: @tablet-width) {
  .footer-links {
    padding-top: 25px;
    min-height: 150px;
  }

  .footer-links__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
