.form__fieldset {
  border: none;
}

.form__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form__item {
  margin-bottom: 15px;
}

.form__title {
  margin-bottom: 30px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: #111111;
}

.form__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: #111111;
}

.form__input {
  height: 45px;
  border: 1px solid rgba(205 205 205 0.5);
}

@media (min-width: @tablet-width) {
  .form__list--add {
    display: flex;
    flex-wrap: wrap;
  }

  .form__item {
    width: 285px;
  }
}

@media (min-width: @desktop-width) {
  .form__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .form__list--contact {
    display: flex;
  }
}
