.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav__toggle {
  width: 24px;
}

@media (min-width: @tablet-width) {
  .main-nav {
    margin-left: auto;
  }

  .main-nav__toggle {
    display: none;
  }
}
