.product__wrapper {
  display: flex;
  align-items: center;
  width: 280px;
  min-height: 144px;
  margin: 0 auto;
}

.promo__link {
  height: 144px;
}

.product__title {
  padding: 0;
  margin: 0;
  margin-top: -1px;
  margin-bottom: 13px;
}

.product__subtitle {
  display: block;
  width: 100px;

  .f-oswald(16px; 20px);
  font-weight: normal;
  text-transform: uppercase;
  color: #111111;
}

.product__desc,
.product__value {
  width: 70px;
  font-size: 12px;
  line-height: 16px;
}

.product__desc {
  text-align: left;
}

.product__value {
  text-align: right;
}

.product__button {
  margin-top: -2px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: @tablet-width) {
  .product__wrapper {
    display: flex;
    flex-direction: column;
    width: 324px;
  }

  .product__link {
    width: 324px;
  }

  .product__image {
    width: 324px;
    height: 174px;
    margin-top: -48px;
    margin-bottom: 35px;
  }

  .product__image--big {
    height: 208px;
    margin-top: -81px;
  }

  .product__subtitle {
    width: 150px;
    margin-right: auto;
    margin-bottom: 19px;
    margin-left: auto;

    text-align: center;
    .f-oswald(20px; 20px);
  }

  .product__list {
    margin-bottom: 35px;
  }

  .product__list tr {
    border-bottom: 1px solid #cdcdcd;
  }

  .product__desc,
  .product__value {
    width: 125px;
    padding-top: 7px;
    padding-bottom: 8px;

    font-size: 16px;
    line-height: 16px;
  }

  .product__button {
    display: block;
    width: 249px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;

    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .product__wrapper {
    width: 245px;
  }

  .product__list {
    width: 170px;
  }

  .product__image {
    display: block;
    width: 245px;
    margin-right: auto;
    margin-bottom: 38px;
    margin-left: auto;
  }

  .product__button {
    width: 169px;
    height: 40px;
    padding: 10px;
    .f-oswald(16px; 20px);
  }
}
