.slider__text {
  background: none;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: #111111;
  text-transform: uppercase;
}
